![imagen](./img/espectadores.jpg)

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

Piensa en al menos 3 personas que invitarías a cenar
<ol>
    <li>Utiliza la lista de invitados para imprimir cada uno por pantalla, mediante un bucle</li>
    <li>Ordena alfabeticamente tu lista de invitados</li>
    <li>¿Quién es el primer invitado de la lista?</li>
    <li>Te llama uno de ellos a última hora, que no va a poder asistir. Eliminalo de la lista</li>
    <li>Por suerte te ha llamado un amigo que no iba a asistir y al final si puede. Añadelo a mitad de la lista</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
lista = ["Andres", "Paula", "Maria"]

for nombre in lista:
    print(nombre)

lista.sort()
print(lista) 
#lista.sort(reverse = True)
#print(lista)

print(lista[0])

lista.remove("Maria")
print(lista)

lista.insert(int(len(lista)/2) ,"Patricia")
print(lista)

#lista.extend("Sergio")
#print(lista)

#Si quiero añadir mas de un elemento a la lista?

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de tuplas</h3>


<ol>
    <li>Crea una tupla con un único valor. Comprueba su tipo</li>
    <li>Crea otra tupla con 3 elementos</li>
    <li>Añadele (como puedas) a la primera tupla, los tres elementos de la segunda</li>
    <li>Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
tupla = (21,)
print(type(tupla))
tupla1 = (11,10,22)

tupla2 = tupla + tupla1
print(tupla2)

tupla3 = (tupla2[0],tupla2[1])
print(tupla3)

tupla4 = (tupla2[:2])
print(tupla4)

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de diccionarios</h3>


<ol>
    <li>Crea un diccionario con las caracteristicas de un televisor: tamaño, smarttv, marca...</li>
    <li>Añade otra catacteristica del tv</li>
    <li>Modifica una de ellas</li>
    <li>Imprime por pantalla sus claves, valores e items</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
char = {"tamaño": 32,"smarttv": True, "marca": "Sony"}

char ["color"] = "Negro"

print(char)

char ['tamaño'] = 55

print(char)

print(char.keys())
print(char.values())

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio list comprehension</h3>

Prueba a definir una lista temperaturas_menores, a partir de la lista temperaturas, con las temperaturas menores que 27 grados.
         
         temperaturas = [25.2, 24.9, 25.2, 26.7, 28.6, 29.5, 29.7]
         
 </td></tr>
</table>

In [ ]:
temperaturas = [25.2, 24.9, 25.2, 26.7, 28.6, 29.5, 29.7]
mild = [x for x in temperaturas if x < 27]
print(mild)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [ ]:
ejer_1 = [1,2,3,4,5]

ejer_1.reverse()

print(ejer_1)

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [ ]:
ejer_2 = [1,2,3,4,5]

cuadrados = [x**2 for x in ejer_2]
print(cuadrados)

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [ ]:
#olas del mar boscoso, olas del mar ancestral, olas que vienen, holas que tal

ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

lista = [x + ' ' + y for x in ejer_3_1 for y in ejer_3_2]
print(lista)

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [ ]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

In [184]:
for w in ejer_4:
    if w == 45:
        i = ejer_4.index(45)
        ejer_4[i] = 0
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [187]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
lista_copia = ejer_5.copy()

sin_tres = [(var) for var in lista_copia if var != 3]
print(sin_tres)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [202]:
tup = (16,18,21)
tup2 = (27,)
print(type(tup2))
tup3 = ("Sabado", 17, 8.20, ["Hector", "Alberto", "duermen"])
print(tup3[0],tup3[len(tup3)-1])
print('*'*100)
tup4=list(tup3)
tup4.append("todavia")
print(tup4)
tup4.remove(8.20)

<class 'tuple'>
Sabado ['Hector', 'Alberto', 'duermen']
****************************************************************************************************
['Sabado', 17, 8.2, ['Hector', 'Alberto', 'duermen'], 'todavia']

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [ ]:
ejer_7 = ("cien", "cañones", "por", "banda")

string = " ".join(ejer_7)
print(string)

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [ ]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2],ejer_8[-3])

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [188]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print(ejer_9.count(3))
nueva = tuple(ejer_9[5:10])
print(nueva)

7
(3, 29, 45, 67, 78)

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [ ]:
print(60 in ejer_9)

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [ ]:

ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
lista2 = list(ejer_9)
print(lista2)

set = set(ejer_9)
print(set)

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [252]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}
lista_asc = list(ejer_13.keys())
lista_asc.sort()
print(lista_asc)

lista_des = list(ejer_13.values())
lista_des.sort(reverse=True)
print(lista_des)

ejer_13[7]=65
print(ejer_13)

ejer_13.get(2)

claves = ejer_13.keys()
print(claves)

for key in ejer_13:
    print(key, ejer_13.get(key))

for elemento in ejer_13:
    print(ejer_13.keys(), ejer_13.values())

for key, value in ejer_13.items():
    print(key, value)

print('*'*100)

[2, 4, 5, 8]
[234, 98, 78, 29]
{4: 78, 2: 98, 8: 234, 5: 29, 7: 65}
dict_keys([4, 2, 8, 5, 7])
4 78
2 98
8 234
5 29
7 65
dict_keys([4, 2, 8, 5, 7]) dict_values([78, 98, 234, 29, 65])
dict_keys([4, 2, 8, 5, 7]) dict_values([78, 98, 234, 29, 65])
dict_keys([4, 2, 8, 5, 7]) dict_values([78, 98, 234, 29, 65])
dict_keys([4, 2, 8, 5, 7]) dict_values([78, 98, 234, 29, 65])
dict_keys([4, 2, 8, 5, 7]) dict_values([78, 98, 234, 29, 65])
4 78
2 98
8 234
5 29
7 65
****************************************************************************************************

In [241]:
for claves, valores in ejer_13:
    claves = list(ejer_13.keys())
    valores = list(ejer_13.values())
    print(claves, '-', values)

TypeError: cannot unpack non-iterable int object

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [ ]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)

print(ejer_14_1)

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [203]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
total = sum(ejer_15.values())
print(total)

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [231]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

valores= list(ejer_16.values())
from math import prod
resultado = prod(valores)
print(resultado)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [236]:
set1 = {11,10,21}

set1.add(22)
print(set1)

set1.remove(22)

set1.discard(10)
print(set1)

{10, 11, 21, 22}

KeyError: 25